.body{
   padding-top: 200px;
   background: linear-gradient( to right ,black,rgb(0, 26, 0));
}
.Fcontair{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}
.line{
    width: 3px;
    background-color: brown;
    height: 30px;
}
.Iage{
    display: flex;
    justify-content: space-around;
}
.head{
    display: flex;
    gap: 2%;
}
