:root {
  --blue:rgb(0, 0, 0);
  --red: #b81313;
  --white:#ffffff;
}
body{
  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
  
  background-color: var(--blue);
}
h1,p{
  color: var(--white);
}
.log{
  width: 60%;
}

